<html lang="en"><head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Главная</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/results">Результаты</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#competence">Уровень компетентности</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#growpoint">Точки роста</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="competence">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Что такое уровень компетентности?</h2>
          <p class="lead">Профессиональная компетентность предполагает способность педагога применять полученные знания, умения и навыки в условиях профессиональной деятельности. При этом данная способность проявляется на разных уровнях профессиональной компетентности педагога:</p>
          <ul>
            <li>первый является базовым, обязательным для осуществления педагогической деятельности, но недостаточным для реализации нового содержания общего образования;</li>
            <li>второй уровень является достаточным для реализации общего образования, т.е. условным минимумом, который позволит педагогу организовывать учебную деятельность в соответствии с современными требованиями;</li>
            <li>третий – самый высокий уровень предполагает сформированность профессиональной компетентности в полной мере и дает возможность реализовывать общее образование с учетом всех требований (деятельностного подхода, личностно-развивающих технологий, формирующего оценивания, образовательной со-бытийности) и достигать наилучших образовательных результатов в соответствии с возможностями и потребностями обучающихся</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="growpoint" class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Что такое «точки роста»?</h2>
          <p class="lead">Точки роста – это позиции анкеты, на которые респондент дал ответ «не согласен», т.е. по какой-то причине педагог в себе засомневался или не понял, о чем идет речь. Для педагога это возможность в дальнейшем понять, над чем необходимо поработать, чтобы повысить свою профессиональную компетентность, нарастить свое мастерство.  Поэтому позиции анкеты с отрицательным ответом и называются «точки роста».
          В отрицательных ответах респондента нет ничего фатального. Некоторые из них вполне закономерны, т.к. каждая позиция анкеты имеет свой «вес» в профессиональной компетентности и относится к определенному уровню</p>
          <p class="lead">«Перспектива» – это точка роста выше общего уровня профессиональной компетентности респондента, то профессиональное знание или умение, которым педагог и не должен пока обладать по своему уровню компетентности, но узнав с помощью диагностики, может к нему стремиться. Это «зона ближайшего развития»</p>
          <p class="lead">«Дефициты» – это позиции анкеты с отрицательными ответами респондента, относящиеся к показателям общего уровня его профессиональной компетентности или ниже общего уровня.  То есть те знания, умения, качества, которыми педагог должен обладать по своему уровню компетентности, но на момент анкетирования отрицает у себя их наличие. Другими словами, «дефицит» – то, что педагог может делать, но ему для этого не хватает определенных знаний и умений. Это точка роста из «зоны актуального развития» </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Контакты</h2>
          <dl>
            <dt><p class="lead"><a href="http://www.iro.yar.ru/index.php?id=7">ГАУ ДПО ЯО Институт развития образования</a></p></dt>
            <dt><p class="lead">Руководитель проекта: Тихомирова Ольга Вячеславовна</p><dt>
            <dt><p class="lead">Позвонить: 8 (4852) 23-09-35</p></dt>
            <dt><p class="lead">Написать: ovtikhomirova@yandex.ru</p></dt>
            <dt><p class="lead"><a href="http://yatutor.iro.yar.ru/index.php/ru/nashi-tyutory">Записаться на консультацию тьютора</a></p></dt>
          </dl>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Все права защищены © Тьюторский центр 2020</p>
    </div>
    <div class="container" align="center">
      <a class="m-0 text-center text-white" href="https://startbootstrap.com/">Template from startbootstrap</a>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>




</body></html>